<?xml version="1.0"?>
<robot name="tjark_inspection" xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo reference="screen_link">
        <minDepth>0.001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 

    <gazebo reference="body_link">
        <minDepth>0.001</minDepth>
        <material>Gazebo/White</material>
    </gazebo> 

    <gazebo reference="shell_link">
        <minDepth>0.001</minDepth>
        <material>Gazebo/White</material>
    </gazebo> 

    <gazebo reference="base_link">
        <minDepth>0.001</minDepth>
        <material>Gazebo/Gray</material>
    </gazebo> 

    <gazebo reference="wheel_lf">
        <mu1>0.005</mu1>
        <mu2>0.005</mu2>
        <minDepth>0.001</minDepth>
        <material>Gazebo/Orange</material>
    </gazebo> 

    <gazebo reference="wheel_lb">
        <mu1>0.005</mu1>
        <mu2>0.005</mu2>
        <minDepth>0.001</minDepth>
        <material>Gazebo/Orange</material>
    </gazebo> 

    <gazebo reference="wheel_rf">
        <mu1>0.005</mu1>
        <mu2>0.005</mu2>
        <minDepth>0.001</minDepth>
        <material>Gazebo/Orange</material>
    </gazebo> 

    <gazebo reference="wheel_rb">
        <mu1>0.005</mu1>
        <mu2>0.005</mu2>
        <minDepth>0.001</minDepth>
        <material>Gazebo/Orange</material>
    </gazebo> 

    <gazebo reference="laser_link">
        <minDepth>0.001</minDepth>
        <material>Gazebo/Black</material>
    </gazebo> 

    <gazebo reference="wheel_left">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <kp>5000000.0</kp>
        <kd>1000.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
        <material>Gazebo/Black</material>
    </gazebo> 

    <gazebo reference="wheel_right">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <kp>5000000.0</kp>
        <kd>1000.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>1.0</maxVel>
        <material>Gazebo/Black</material>
    </gazebo> 
</robot>